<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-12">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="formGroup.controls['email'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="formGroup.controls['password'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstname">
          <mat-error *ngIf="formGroup.controls['firstname'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-6">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastname">
          <mat-error *ngIf="formGroup.controls['lastname'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Plz</mat-label>
        <input matInput formControlName="zip">
        <mat-error *ngIf="formGroup.controls['zip'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Straße</mat-label>
        <input matInput formControlName="street">
        <mat-error *ngIf="formGroup.controls['street'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Hausnummer</mat-label>
        <input matInput formControlName="streetNr">
        <mat-error *ngIf="formGroup.controls['streetNr'].invalid">Eingabe fehlt</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
