<mat-toolbar color="primary">
  <span>Iot-Smart-Parking-Client</span>
  <span class="spacer"></span>
  <button (click)="navigateTo('register')" mat-icon-button matTooltip="Registrieren">
      <mat-icon>person_add</mat-icon>
  </button>
  <button (click)="navigateTo('home')" matTooltip="Startseite"  mat-icon-button>
      <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<div class="row justify-content-center m-3">
  <div class="col-12 col-lg-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Einloggen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-log-in [formGroup]="formGroup">
        </app-log-in>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="login()">Einloggen</button>
        <button mat-stroked-button (click)="cancel()">Abbrechen</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
