<p style="font-size: 2em; margin-top: 1em; margin-left: 0.5em; margin-bottom: 1em;"> Willkommen auf der Smart-Parking Homepage</p>

    <button (click)="navigateTo('register')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em;" mat-stroked-button>Registrieren</button> 
    <button (click)="navigateTo('login')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em;" mat-stroked-button>Anmelden</button>
    <button (click)="navigateTo('home')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em;" mat-stroked-button>Home</button> 
    <button (click)="navigateTo('devices')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em;" mat-stroked-button>Geräte</button> 




