<div class="row">
  <div class="col-12 col-md-6" *ngIf="mac !== undefined">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Mac</mat-label>
      <input matInput readonly  type="text" [value]="mac">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field appearance="outline" style="width: 100%" *ngIf="device !== undefined">
      <mat-label>Typ</mat-label>
      <input matInput readonly type="text" [value]="device.type">
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field appearance="outline" style="width: 100%" *ngIf="device !== undefined">
      <mat-label>Parkplatz</mat-label>
      <input matInput readonly type="text" [value]="device.parkingLotNr">
    </mat-form-field>
  </div>  
</div>

<div class="row" *ngIf="mac !== undefined">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Anweisungen</mat-expansion-panel-header>
      <ng-container matExpansionPanelContent>
        <app-device-instruction-overview [mac]="mac">
        </app-device-instruction-overview>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Status</mat-expansion-panel-header>
      <ng-container matExpansionPanelContent>
        <app-device-status-overview [mac]="mac">
        </app-device-status-overview>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
