<mat-toolbar color="primary">
    <span>Iot-Smart-Parking-Client</span> 
  <button (click)="navigateTo('register')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em; margin-bottom: 1em;" mat-stroked-button>Registrieren</button> 
  <button (click)="navigateTo('login')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em; margin-bottom: 1em;" mat-stroked-button>Anmelden</button>
  <button (click)="navigateTo('home')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em; margin-bottom: 1em;" mat-stroked-button>Home</button> 
  <button (click)="navigateTo('devices')" style="padding: 0.6em; margin-top: 1em; margin-left: 4em; margin-bottom: 1em;" mat-stroked-button>Geräte</button> 

  </mat-toolbar>
<router-outlet></router-outlet>

